@import url('https://fonts.googleapis.com/css?family=Titan+One');



body {
    background-image: repeating-linear-gradient(135deg, rgba(79, 79, 79,0.01) 0px, rgba(79, 79, 79,0.01) 14px,rgba(94, 94, 94,0.01) 14px, rgba(94, 94, 94,0.01) 28px,rgba(109, 109, 109,0.01) 28px, rgba(109, 109, 109,0.01) 42px,rgba(124, 124, 124,0.01) 42px, rgba(124, 124, 124,0.01) 56px,rgba(139, 139, 139,0.01) 56px, rgba(139, 139, 139,0.01) 70px,rgba(154, 154, 154,0.01) 70px, rgba(154, 154, 154,0.01) 84px,rgba(169, 169, 169,0.01) 84px, rgba(169, 169, 169,0.01) 98px,rgba(184, 184, 184,0.01) 98px, rgba(184, 184, 184,0.01) 112px),repeating-linear-gradient(45deg, rgba(221, 221, 221,0.01) 0px, rgba(221, 221, 221,0.01) 14px,rgba(207, 207, 207,0.01) 14px, rgba(207, 207, 207,0.01) 28px,rgba(192, 192, 192,0.01) 28px, rgba(192, 192, 192,0.01) 42px,rgba(178, 178, 178,0.01) 42px, rgba(178, 178, 178,0.01) 56px,rgba(164, 164, 164,0.01) 56px, rgba(164, 164, 164,0.01) 70px,rgba(150, 150, 150,0.01) 70px, rgba(150, 150, 150,0.01) 84px,rgba(135, 135, 135,0.01) 84px, rgba(135, 135, 135,0.01) 98px,rgba(121, 121, 121,0.01) 98px, rgba(121, 121, 121,0.01) 112px),linear-gradient(90deg, rgb(131,234,241),rgb(131,234,241));
    background-size: cover;
    overflow-x: hidden;
}

/* Home Page */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-right: -55px;
    
}

.home p {
    font-size: 110px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.189);
    cursor: default;
    user-select: none;
    font-weight: bold;
    letter-spacing: 0px;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    margin-bottom: 70px;
    font-family:'Titan One',cursive;
}

.home p span {
    transform: scale(0.9);
    display: inline-block;
}

.home p span:first-child {
    animation: bop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    color: rgb(81, 241, 198);
}

.home p span:last-child {
    animation: bopB 2s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    color: rgb(81, 223, 241);
}

@keyframes bop {
    0% {
      transform: scale(0.9);
    }
    50%,
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bopB {
    0% {
      transform: scale(0.9);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-3deg);
    }
  }  


.home img {
    width: 180px;
    cursor: pointer;
    animation: play 4s infinite;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.home img:hover {
    filter: brightness(90%);
}

@keyframes play {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-13px);
    }

}





/* Nav bar */

nav {
    background: linear-gradient(#74F2CE, #7CFFCB);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 100%, 0 3%, 0 0, 100% 0, 100% 100%, 85% 80%, 71% 100%, 40% 80%, 24% 100%, 13% 72%);
}

nav ul {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

nav ul .nav-link {
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

nav ul img:hover {
    transform: translateY(-3px);
}

#log {
    width: 50px;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    right: 80px;
    transition: 0.15s ease-in-out;
}

#log:hover {
    transform: translateX(3px);
}

.nav-link.center {
    width: 90px;
}

/* RulesPage */

.rules {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    height: 550px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.068) 0px 8px 24px;
}

.slides {
    width: 800%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 12.5%;
    transition: 1s;
}

.slide-center {
    display: flex;
    justify-content: center;
}

.slide img{
    width: 350px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 1s;
}

.slide img:hover {
    transform: scale(1.05);
}

.slide-text {
    width: 100%;
    height: 100%;
    background: linear-gradient(#74d7f2, #5bb4fe);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-text h1 {
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

.slide-text p {
    color: white;
    width: 80%;

    font-size: 17px;
    text-align: justify;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -12.5%;
}

#radio3:checked ~ .first {
    margin-left: -25%;
}

#radio4:checked ~ .first {
    margin-left: -37.5%;
}

#radio5:checked ~ .first {
    margin-left: -50%;
}

#radio6:checked ~ .first {
    margin-left: -62.5%;
}

#radio7:checked ~ .first {
    margin-left: -75%;
}

#radio8:checked ~ .first {
    margin-left: -87.5%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

/* Ranking Page */

.ranking {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}


/* Intro Page */

.number-countainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.number-center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.number-player {
    text-align: center;
    cursor: default;
    user-select: none;
    width: 180px;
    background: linear-gradient(to right, rgb(105, 230, 255), rgb(122, 236, 249));
    display: flex;
    border: 3px solid rgba(255, 255, 255, 0.084);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.162) 0px 7px 29px 0px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.number-player h1 {
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);
}

.number-player p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);
}

.number-but {
    width: 45px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.number-but:hover {
    transform: scale(0.9);
}

.number-but p {
    margin-top: 7px;
}

.player-countainer {
    width: 30%;
    background: linear-gradient(#74f2c2e2, #5bfeb5de);
    border: 3px solid rgba(255, 255, 255, 0.156);
    backdrop-filter: blur(10px);
    border-radius: 40px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.player-buble {
    margin-top: 20px;
    user-select: none;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    height: 55px;
    padding: 1px 40px;
    color: white;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.182);
    background: rgba(0, 255, 145, 0.789);
    box-shadow: rgba(100, 100, 111, 0.162) 0px 7px 29px 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.player-buble p {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);
}

.player-buble img {
    width: 40px;
}

.number-incognito {
    display: flex;
    align-items: center;
}

.inco-but {
    user-select: none;
    width: 35px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.inco-but:hover {
    transform: scale(0.9);
}

.effect-container {
    margin: auto;
    width: 40%;
    height: 100px;
    background: linear-gradient(#74f2c2b1, #5bfeb5b2);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    border-radius: 20px;
    display: none;
}

.but-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.start-but {
    border: 2px solid rgba(255, 255, 255, 0.223);
    padding: 15px 35px;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(to left, #51F1C6, #5feec8);
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    animation: vote 6s infinite;
}

.start-but:hover {
    filter: brightness(95%);
}

.wrapper-box{
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .wrapper{
    text-align: center;
    color: #444;
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 500px;
    background:#74d7f0;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 50px rgba(0, 0,0,.1);
    overflow: hidden;
    z-index: 1;
}

.wrapper h1 {
    color: #444;
}

.wrapper button {
    width: 100%;
    height: 40px;
    background: #FFFAF0;
    border-radius: 30px;
    cursor:pointer;
    border:none;
    outline:none;
    font-size: 16px;
    color: #444;
    font-weight: 500;   
}

.input-box{
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color : transparent;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    padding :0 5px;
    font-size: 16px;
    color: #444;
}

.no-account {
    color:#444;
}

.no-account image {
    size: 1px;
}

.curved{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #7CFFCB;
    z-index:-2;
    clip-path:circle(98% at 0 0);
}




/* Party Page */

.invi {
    opacity: 0;
    cursor: default;
    user-select: none;
}

.action-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

.mrxx-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: default;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

.civil-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

.inco-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

.wrong-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: default;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.relancer-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: default;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.mrxx-win {
    width: 350px;
    margin-top: 110px;
    margin-bottom: 30px;
}

.win-trophee {
    width: 130px;
    position: absolute;
    animation: trophee 3s infinite;
    margin-left: 110px;
    margin-top: -50px;
}

@keyframes trophee {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.relancer-content h3 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 225, 241);
    width: 110%;
    text-align: center;
    position: absolute;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -23px;
    text-shadow: rgba(0, 0, 0, 0.44) 1px 0 10px;
    border: 3px solid rgba(255, 255, 255, 0.305);
    border-radius: 10px;
    height: 100px;
}

.relancer-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(190deg, rgba(100, 255, 180, 0.87), rgba(60, 161, 112, 0.87));
    border: 3px solid rgb(189, 255, 224);
}


.ajouter-content {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	display: flex;
	cursor: default;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

.character {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chara-avat {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.ajouter-input {
    margin-top: 30px;
    border: 2px solid rgb(245, 192, 87);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    color: rgb(245, 192, 87);
    outline: none;
}

.chara-chevron {
    width: 70px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease-in-out;
}

.chara-chevron:hover {
    transform: scale(0.95);
}

.action-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.87);
    border: 3px solid rgb(255, 255, 255);
}

.civil-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.87);
    border: 3px solid rgb(255, 255, 255);
}

.mrxx-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.87);
    border: 3px solid rgb(255, 255, 255);
}

.mrxx-card input {
    margin-top: 5px;
    border: 2px solid rgba(255, 17, 0, 0.789);
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    color: rgba(255, 17, 0, 0.789);
    outline: none;
}

.ajouter-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.87);
    border: 3px solid rgb(255, 255, 255);
}

.role-card {
    position: absolute;
    z-index: 10000;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.87);
    border: 3px solid rgb(255, 255, 255);
}

.role-card h1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(66, 234, 158);
    margin-top: 70px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.role-card h4 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.499);
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.role-card h5 {
    color: rgb(107, 238, 179);
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 27px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.426);
    margin-bottom: 60px;
    box-shadow: rgba(149, 157, 165, 0.071) 0px 8px 24px;
}

.mrxx-card h1 {
    font-size: 25px;
    font-weight: 700;
    user-select: none;
    cursor: default;
    margin-top: 30px;
    font-size: 25px;
    color: rgb(100, 100, 100);
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}



.civil-card h1 {
    margin-top: 40px;
    font-size: 25px;
    color: rgb(100, 100, 100);
    margin-bottom: 40px;
    letter-spacing: 0.5px;
}

.mrxx-card img {
    width: 200px;
    margin-bottom: 10px;
}

.civil-card img {
    width: 230px;
    margin-bottom: 10px;
}

.civil-card h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(105, 105, 105, 0.855);
    margin-bottom: 40px;
}

.ajouter-card h3 {
    font-size: 15px;
    margin-top: 10px;
    color: rgb(245, 192, 87);
    margin-bottom: 60px;
}

.mrxx-card h2 {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(255, 17, 0, 0.789);
    margin-bottom: 25px;
}

.ajouter-card h2 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 30px;
    color: rgb(245, 192, 87);
    margin-bottom: 30px;
}

.action-card h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(112, 219, 229);
    letter-spacing: 0.5px;
    margin-top: 30px;
}

.action-card h2 {
    margin-top: 2px;
    color : black;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.action-card img {
    width: 230px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.action-ok {
    margin: auto;
    padding: 5px 20px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 255, 145, 0.789), rgba(54, 228, 152, 0.789));
    border-radius: 20px;
    width: 250px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
    animation: ajout-ok 2s infinite;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.action-ok:hover {
    filter: brightness(95%);
}

.ajouter-ok:hover {
    filter: brightness(95%);
}

.ajouter-ok {
    margin: auto;
    padding: 8px 20px;
    background: linear-gradient(to right, rgba(0, 255, 145, 0.789), rgba(54, 228, 152, 0.789));
    border-radius: 20px;
    width: 300px;
    color: white;
    user-select: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 23px;
    cursor: pointer;
    animation: ajout-ok 2s infinite;
    transition: 0.2s ease-in-out;
}

@keyframes ajout-ok {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(0.95);
    }

    15% {
        transform: scale(1.05);
    }

    30% {
        transform: scale(0.97);
    }

    45% {
        transform: scale(1.03);
    }

    60% {
        transform: scale(0.98);
    }
}


.tour-container {
    margin-top: 20px;
    width: 45%;
    background:  #fff3a5d5;
    border: 2px solid #fff3a5;
    animation: mission 4.5s infinite;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: default;
    margin: auto;
    transition: 0.2s;
}

@keyframes mission {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}

.tour-line {
    background: #f8a1289c;
    width: 3px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 10px;
    height: 60px;
}

.tour-container img {
    width: 40px;
    margin-right: 20px;
    opacity: 0.6;
}

.tour-container h1 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #f8a128d0;
    margin-bottom: 0px;

}

.tour-container p {
    font-size: 15px;
    color: #d0a97c;
    font-weight: 500;
}

.info-container {
   margin-top: 30px; 
   margin-bottom: 40px;
   cursor: default;
}

.info-rest {
    margin: auto;
    width: 14%;
    background: red;
    text-align: center;
    background: linear-gradient(#51ffa89f, #51ffa89f);
    border: 2px solid rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.145) 0px 6px 12px -2px, rgba(0, 0, 0, 0.118) 0px 3px 7px -3px;
    border-radius: 10px;
}

.info-rest p {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(104, 104, 104);
}

.rest-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.rest img {
    width: 40px;
    margin-right: 5px;
}

.rest p {
    font-weight: bold;
    font-size: 20px;
    color: rgba(107, 107, 107, 0.84);
    margin-top: 5px;
}

.card-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 150px;
    height: 200px;
    background: linear-gradient(#51ffce9f, #7dfafea8);
    box-shadow: rgba(38, 57, 77, 0.174) 0px 20px 30px -10px;
    border: 2px solid rgba(255, 255, 255, 0.138);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
}

.cardC {
    width: 150px;
    height: 200px;
    background: linear-gradient(#51ffce9f, #7dfafea8);
    box-shadow: rgba(38, 57, 77, 0.174) 0px 20px 30px -10px;
    border: 2px solid rgba(255, 255, 255, 0.138);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
}

.card-mort {
    backdrop-filter: brightness(10%);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(38, 57, 77, 0.656) 0px 20px 30px -10px;
}

.cardC:hover {
    transform: translateY(-5px);
    box-shadow: rgba(38, 57, 77, 0.656) 0px 20px 30px -10px;
}

.avatwho {
    width: 140px;
    opacity: 0.9;
}

.avat {
    width: 110px;
    margin-top: 15px;
}

.avatname {
    margin-top: 15px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.36);
    max-width: 90%;
    font-size: 15px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.816);
    white-space: nowrap;
	text-overflow: ellipsis; 
	overflow: hidden;
}

.passage {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(81, 191, 246);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.73);
}

.uno {
    background: rgb(246, 92, 81);
}

.passage p {
    color: #fff;
    margin-top: 12px;
}

.elimine {
    position: absolute;
    background: linear-gradient(#e4b745, #ddaf39);
    color: white;
    height: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: -47px;
}

.elimine p {
    color: white;
    margin-top: 15px;
}

.vote-but {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 7px 50px;
    cursor: pointer;
    margin-bottom: 50px;
    width: 240px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.636);
    border-radius: 20px;
    background: linear-gradient(#ffce51f1, #fbd169ea);
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    animation: vote 6s infinite;
}

.vote-but:hover {
    filter: brightness(95%);
}

@keyframes vote {
    0%{
        transform: scale(1);
    }

    10%{
        transform: scale(1);
    }

    13% {
        transform: scale(0.8);
    }

    20% {
        transform: scale(1.2);
    }

    28% {
        transform: scale(0.95);
    }

    37% {
        transform: scale(1.05);
    }

    46%  {
        transform: scale(0.98);
    }

    56% {
        transform: scale(1.02);
    }

    67% {
        transform: scale(0.99);
    }

}

.vote-but p {
    margin-top: 13px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.258);
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
}

/* ScrollBar */ 

::-webkit-scrollbar{
	width: 10px;
	height: 9px;
}

::-webkit-scrollbar-track{
	background: #4ed1ef;
	opacity: 0;
}

::-webkit-scrollbar-thumb:hover{
	background: rgb(226, 226, 226);
	border-radius: 9px;
	transition: 1s;
}

::-webkit-scrollbar-thumb{
	background: white;
	border-radius: 9px;
	transition: 1s;
}

table {
    margin: 5px;
  }
  
  table, table * {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #CCC;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #FFF;
  }
  
  thead {
    color: rgb(226, 80, 43);
    background-color: aquamarine;
    font-size: large;
  }