body {
    background-image: repeating-linear-gradient(135deg, rgba(79, 79, 79,0.01) 0px, rgba(79, 79, 79,0.01) 14px,rgba(94, 94, 94,0.01) 14px, rgba(94, 94, 94,0.01) 28px,rgba(109, 109, 109,0.01) 28px, rgba(109, 109, 109,0.01) 42px,rgba(124, 124, 124,0.01) 42px, rgba(124, 124, 124,0.01) 56px,rgba(139, 139, 139,0.01) 56px, rgba(139, 139, 139,0.01) 70px,rgba(154, 154, 154,0.01) 70px, rgba(154, 154, 154,0.01) 84px,rgba(169, 169, 169,0.01) 84px, rgba(169, 169, 169,0.01) 98px,rgba(184, 184, 184,0.01) 98px, rgba(184, 184, 184,0.01) 112px),repeating-linear-gradient(45deg, rgba(221, 221, 221,0.01) 0px, rgba(221, 221, 221,0.01) 14px,rgba(207, 207, 207,0.01) 14px, rgba(207, 207, 207,0.01) 28px,rgba(192, 192, 192,0.01) 28px, rgba(192, 192, 192,0.01) 42px,rgba(178, 178, 178,0.01) 42px, rgba(178, 178, 178,0.01) 56px,rgba(164, 164, 164,0.01) 56px, rgba(164, 164, 164,0.01) 70px,rgba(150, 150, 150,0.01) 70px, rgba(150, 150, 150,0.01) 84px,rgba(135, 135, 135,0.01) 84px, rgba(135, 135, 135,0.01) 98px,rgba(121, 121, 121,0.01) 98px, rgba(121, 121, 121,0.01) 112px),linear-gradient(90deg, rgb(131,234,241),rgb(131,234,241));
    background-size: cover;
}

.home {
    width: 90%;
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: -120px;
    cursor: default;  
}

.logo {
    width: 500px;
    animation: title 3s infinite;
    margin-bottom: 30px;
}

@keyframes title {
    0% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.01);
    }
}

.play-countainer {
    cursor: pointer;
}

.play-countainer:hover .inco {
    opacity: 1;
    transform: scale(1.05);
}

.play-countainer:hover .bush {
    transform: translateX(-10px);
}

.play-countainer:hover .bush2 {
    transform: translateX(20px);
}

.bush {
    width: 200px;
    transition: 0.7s ease-in-out;
}

.bush2 {
    width: 210px;
    margin-left: -90px;
    transition: 0.7s ease-in-out;
}

.inco {
    position: absolute;
    width: 110px;
    margin-left: -90px;
    margin-top: 45px;
    opacity: 0;
    transition: 0.7s ease-in-out;
}

.chevron {
    width: 75px;
    opacity: 0.7;
    rotate: 180deg;
    margin-bottom: 30px;
    animation: chevron 6s infinite;
}

@keyframes chevron {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }


    90% {
        transform: translateY(-16px);
        
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }

}

/* Nav bar */

nav {
    background: linear-gradient(#74F2CE, #7CFFCB);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 100%, 0 3%, 0 0, 100% 0, 100% 100%, 85% 80%, 71% 100%, 40% 80%, 24% 100%, 13% 72%);
}

nav ul {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

nav ul .nav-link {
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

nav ul img:hover {
    transform: translateY(-3px);
}

#log {
    width: 50px;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    right: 80px;
    transition: 0.15s ease-in-out;
}

#log:hover {
    transform: translateX(3px);
}

.nav-link.center {
    width: 90px;
}

/* RulesPage */

.rules {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    height: 550px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.068) 0px 8px 24px;
}

.slides {
    width: 800%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 12.5%;
    transition: 1s;
}

.slide-center {
    display: flex;
    justify-content: center;
}

.slide img{
    width: 350px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 1s;
}

.slide img:hover {
    transform: scale(1.05);
}

.slide-text {
    width: 100%;
    height: 100%;
    background: linear-gradient(#74d7f2, #5bb4fe);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-text h1 {
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

.slide-text p {
    color: white;
    width: 80%;

    font-size: 17px;
    text-align: justify;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -12.5%;
}

#radio3:checked ~ .first {
    margin-left: -25%;
}

#radio4:checked ~ .first {
    margin-left: -37.5%;
}

#radio5:checked ~ .first {
    margin-left: -50%;
}

#radio6:checked ~ .first {
    margin-left: -62.5%;
}

#radio7:checked ~ .first {
    margin-left: -75%;
}

#radio8:checked ~ .first {
    margin-left: -87.5%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

/* Ranking Page */

.ranking {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}


/* Intro Page */

.number-countainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.number-center {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


.number-player {
    text-align: center;
    cursor: default;
    user-select: none;
    width: 180px;
    background: linear-gradient(#74f2c2f5, #5bfeb5f5);
    clip-path: polygon(20% 0%, 0% 20%, 10% 50%, 0% 80%, 20% 100%, 56% 100%, 80% 100%, 100% 80%, 90% 50%, 100% 20%, 80% 0%, 41% 0);
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.056) 0px 7px 29px 0px;
    flex-direction: column;
    color: white;
}

.number-player h1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.number-player p {
    font-size: 25px;
}

.number-but {
    background: #74f2c2;
    user-select: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: rgba(100, 100, 111, 0.056) 0px 7px 29px 0px;
    cursor: pointer; 
    transition: 0.2s ease-in-out;
}

.number-but:hover {
    transform: scale(0.9);
}

.number-but p {
    margin-top: 7px;
}

.player-countainer {
    width: 30%;
    background: linear-gradient(#74f2c2b1, #5bfeb5b2);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    backdrop-filter: blur(10px);
    border-radius: 40px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.player-buble {
    margin-top: 20px;
    user-select: none;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    padding: 5px 60px;
    text-align: center;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.056) 0px 7px 29px 0px;
    background: rgba(0, 255, 145, 0.789);
    margin-left: 10px;
    margin-right: 10px
}

.number-incognito {
    display: flex;
    align-items: center;
}

.inco-but {
    background: #fff;
    color: rgb(0, 255, 145);
    user-select: none;
    font-size: 35px;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.056) 0px 7px 29px 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: 0.2s ease-in-out;
}

.inco-but:hover {
    transform: scale(0.95);
}

.inco-but p {
    margin-top: 7px;
}

.effect-container {
    margin: auto;
    width: 40%;
    height: 100px;
    background: linear-gradient(#74f2c2b1, #5bfeb5b2);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    border-radius: 20px;

}

.but-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.start-but {
    border: none;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(#74f2c2b1, #5bfeb5b2);
    color: #fff;
    transition: 0.2s ease-in-out;
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    clip-path: polygon(20% 0%, 0% 20%, 10% 50%, 0% 80%, 20% 100%, 56% 100%, 80% 100%, 100% 80%, 90% 50%, 100% 20%, 80% 0%, 41% 0);
}

.start-but:hover {
    background: linear-gradient(#74f2c2, #5bfeb5);
    transform: scale(1.02);
}


/* Party Page */

.invi {
    opacity: 0;
    cursor: default;
    user-select: none;
}

.tour-container {
    margin-top: 20px;
    width: 30%;
    text-align: center;
    background: linear-gradient(#fffc51c4, #f9fe7db2);
    border-top: 1px solid rgba(235, 235, 235, 0.518);
    border-left: 1px solid rgba(225, 225, 225, 0.512);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    animation: mission 4.5s infinite;
    border-radius: 5px;
    margin: auto;
    transition: 0.2s;
}

@keyframes mission {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.035);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.05);
    }
}

.tour-container h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
    color: rgba(97, 97, 97, 0.905);
}

.tour-container p {
    font-size: 17px;
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(177, 177, 177);
    margin-bottom: 30px;
}

.info-container {
   margin-top: 30px; 
   margin-bottom: 40px;
   cursor: default;
}

.info-rest {
    margin: auto;
    width: 14%;
    background: red;
    text-align: center;
    background: linear-gradient(#c5ff519f, #bdfe7da8);
    border-top: 1px solid rgba(235, 235, 235, 0.562);
    border-left: 1px solid rgba(225, 225, 225, 0.571);
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.145) 0px 6px 12px -2px, rgba(0, 0, 0, 0.118) 0px 3px 7px -3px;
    border-radius: 10px;
}

.info-rest p {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(104, 104, 104);
}

.rest-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.rest img {
    width: 40px;
    margin-right: 5px;
}

.rest p {
    font-weight: bold;
    font-size: 20px;
    color: rgba(107, 107, 107, 0.84);
    margin-top: 5px;
}

.card-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 150px;
    height: 200px;
    background: linear-gradient(#51ffce9f, #7dfafea8);
    box-shadow: rgba(38, 57, 77, 0.174) 0px 20px 30px -10px;
    border: 2px solid rgba(255, 255, 255, 0.138);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
}

.card-mort {
    backdrop-filter: brightness(10%);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(38, 57, 77, 0.656) 0px 20px 30px -10px;
}

.avatwho {
    width: 140px;
    opacity: 0.9;
}

.avat {
    width: 110px;
    margin-top: 15px;
}

.avatname {
    margin-top: 15px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.36);
    max-width: 90%;
    font-size: 15px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.816);
    white-space: nowrap;
	text-overflow: ellipsis; 
	overflow: hidden;
}

.passage {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(81, 191, 246);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.73);
}

.passage p {
    color: #fff;
    margin-top: 12px;
}

.elimine {
    position: absolute;
    background: linear-gradient(#e4b745, #ddaf39);
    color: white;
    height: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
}

.elimine p {
    color: white;
    margin-top: 15px;
}

.vote-but {
    margin: auto;
    cursor: pointer;
    margin-bottom: 50px;
    width: 230px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(#ffce51f1, #fbd169ea);
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    animation: vote 6s infinite;
}

@keyframes vote {
    0%{
        transform: scale(1);
    }

    10%{
        transform: scale(1);
    }

    13% {
        transform: scale(0.8);
    }

    20% {
        transform: scale(1.2);
    }

    28% {
        transform: scale(0.95);
    }

    37% {
        transform: scale(1.05);
    }

    46%  {
        transform: scale(0.98);
    }

    56% {
        transform: scale(1.02);
    }

    67% {
        transform: scale(0.99);
    }

}

.vote-but p {
    padding: 13px 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.258);
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
}